<div>
  <h1>Shopping Cart</h1>
  <div class="d-flex-justify-content-between align-items-center">
    <p>You have <span>2</span> item in your cart </p>
    <button class="btn btn-danger">Clear Shopping Cart</button>
  </div>
  <div class="table-responsive">
    <table class="table">
    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th></th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productCarts; let index = index">
        <th scope="row">1</th>
        <td><img [src]="item.item.image" class="img-fluid" [ngStyle]="imageStyle" alt=""></td>
        <td>{{item.item.title}}</td>
        <td>{{item.item.price}} L.E</td>
        <td>
          <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-primary mx-2" (click)="increaseAmount(index)">+</button>
            <input type="number" class="form-control w-25" (change)="detectChange()" [(ngModel)]="item.quantity" min="1"/>
            <button class="btn btn-primary mx-2" (click)="decreaseAmount(index)">-</button>
          </div>
        </td>
        <td>{{(item.item.price * item.quantity.toFixed(2))}} L.E</td>
        <td><button class="btn btn-danger" (click)="deleteProduct(index)">Delete</button></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total : {{total}}</td>
        <td><button class="btn btn-success">Order Now</button></td>
      </tr>
    </tbody>
  </table>
  <div class="container">
    <div class="alert alert-success"><span>Well Done</span> Your order is successfully send</div>
  </div>
  </div>
</div>
