<div class="card my-5">
  <img class="card-img-top" src="{{product.image}}" alt="Card image cap" [ngStyle]=imgStyle>
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.description| slice:0:100}}</p>
    <div class="d-flex justify-content-between align-items-center mt-4">
      <button class="btn btn-success" *ngIf="!addBtn" (click)="addBtn = true">Add To Card</button>
      <div class="d-flex justify-content-start align-items-center" *ngIf="addBtn">
        <input type="number" class="form-control w-50" [(ngModel)]="amount"/>
        <button class="btn btn-primary" (click)="addToCart()">Add</button>
      </div>
      <span>50 L.E</span>
    </div>

  </div>
</div>
